<div class="hero-image">
  <div class="container">
    <div class="hero-text">
      <h1 class="fadeIn"></h1>
      <h1 class="fadeIn" style="--fadeTime: 1s">In the USA, we have 50 states.</h1>
      <h1 class="fadeIn" style="--fadeTime: 3s">The majority of Americans visit only 3.</h1>
      <h1 class="fadeIn" style="--fadeTime: 5s">Let's change that.</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="description">
    <h1>Discover your next trip... with just a photo</h1>
    <p>Tired of scrolling through bulky travel sites? Our app lets you choose your next destination, just by browsing through pictures.</p>
    <a class="btn" routerLink="/discover">Discover your destination</a>
  </div>
</div>