
$fadeTime: 1.5s;
$smallTextSize: 14px;

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
    img {
        transition: all 1s;
        margin-right: 10px;
        width: 200px;
        height: 200px;
        @media (max-width: 500px) {
            width: 100%;
            height: 350px;
        }
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 10px 0px black;
        }

        .mobile {
            width: 100%;
        }
    }
}

.mediumImg {
    max-height: 500px;
    max-width: 100%;
}

.smallImg {
    max-height: 300px;
    max-width: 100%;
}

.credit {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 2px;
    width: 100%;
    font-size: $smallTextSize;
    text-transform: lowercase;
    color: lightgray;

    line-height: 2;

    p {
        display: inline;
        font-size: 20px;
        font-weight: 700;
        padding-right: 10px;
    }
    li {
        display: inline;
        padding-right: 30px;
    }
    a {
        color: rgb(182, 180, 180);
    }
}

.small {
    font-size: 15px;
}

.footer-space {
    margin-bottom: 700px;
}


.fadeIn {
    animation: fadein $fadeTime;
    -moz-animation: fadein $fadeTime; /* Firefox */
    -webkit-animation: fadein $fadeTime; /* Safari and Chrome */
    -o-animation: fadein $fadeTime; /* Opera */
  }
  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
  }
  